[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
gunicorn = "*"
requests = "*"
google-cloud-firestore = "*"
python-decouple = "*"
python-dotenv = "*"
firebase-admin = "*"

[requires]
python_version = "3.6"
