{% extends "base.html" %}
{% block title %}Projects{% endblock %}
{%block head %}
	{{ super() }}
{% endblock %}
<body>
	{% block menu %}
		{{ super() }}
	{% endblock %}
	<div id = "content">

	{% block content %}
	<div class = "ui stackable grid container">
	<div class = "ui link cards" >
	{% for project in projects %}

	<div class= "ui card">
		<a class="image" href={{ project.url }}>
			<img src = {{ project.imageURL }}>
		</a>
	
		<div class ="content">
			<div class="header">{{ project.name }} </div>
			<div class="description">
				{{ project.description }}
			</div>
		</div>		
	</div>


	{% endfor %}
	</div>
	{% endblock %}
	</div>
	</div>
</body>
