{% extends "base.html" %}
{% block title %}Twitter{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
<body>
	{% block menu %}
		{{ super() }}
	{% endblock %}
	{% block content %}
	{% block javascript %}
	<div id = "content">
	<div class="ui two column centered grid">
	<div class ="column">
	<a class="twitter-timeline" href="https://twitter.com/crawfteevee?ref_src=twsrc%5Etfw">Tweets by crawfteevee</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
	{% endblock %}
	{% endblock %}
	</div>
	</div>
	</div>
</body>
